.headerContainerOuter {
    background-image: linear-gradient(rgba(222, 84, 153, 0.363), rgba(255, 123, 0, 0.317));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid rgba(255, 102, 0, 0.5);
}

.headerContainerInner {
    padding: 35px 35px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.headerLink {
    text-decoration: none;
    color: #f8f8f8;
    font-size: 28px;
    font-weight: 700;
    transition: 0.3s;
}

.headerLink:hover {
    color: rgba(255, 0, 0, 0.5);
}

.headerLinkActive {
    color: #a72a2a;
    text-decoration: underline;
}